body {
  font-family: "Roboto", sans-serif;
  background-color: #FCF8F8;
  overflow-x: hidden;
}

div {
  transition: all 550ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#progressBar {
  max-height: 10px;
  position: absolute;
  top: 0.07%;
  display: block;
  width: 100%;
  background: rgb(204, 204, 204);
  overflow: hidden;
  border-radius: 0;
  /* border-top-right-radius: 50px;
    border-top-left-radius: 50px; */
}

#progress {
  width: 0%;
  height: 10px;
  left: 0.2%;
  /* border-top-right-radius: 50px;
    border-top-left-radius: 50px; */
  transition: all 550ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav {
  height: 140px;
}

.logo {
  float: left;
  padding: 40px;
}

.bii {
  float: right;
}

.button-link {
  text-decoration: none;
}

.btns {
  background-color: #5754ff;
  /* background-image: linear-gradient(100deg, #8632f7 0%, #5754ff 30%, #8e60ff 70%, #9a9dff 100%); */
  z-index: 0;
  height: 80px;
  float: none;
  margin: 50px auto;
  width: 950px;
  max-width: 100%;
  border-radius: 40px;
  display: block;
  box-shadow: 0 2px 4px -1px rgba(25, 25, 25, 0.2);
}

.btns input {
  display: none;
}

.btns label {
  display: table;
  float: left;
  padding: 0;
  width: 20%;
  height: 100%;
  margin: 0;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.btns label:first-child {
  border-left: none;
  border-radius: 40px 0 0 40px;
}

.btns label:last-child {
  border-radius: 0 40px 40px 0;
}

.btns .btn {
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  -webkit-transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.btns .btn:hover {
  box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btns .btn:after {
  content: '\2714';
  margin-left: -10px;
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.btns .first {
  border-radius: 40px 0 0 40px;
}

.btns .last {
  border-radius: 0 40px 40px 0;
}

.btns input:checked+.btn {
  color: #fff;
  font-weight: 600;
  text-shadow: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65%, rgba(25, 25, 25, 0)), to(rgba(25, 25, 25, 0.08)));
  background-image: linear-gradient(to top, rgba(25, 25, 25, 0) 65%, rgba(25, 25, 25, 0.08));
  box-shadow: 0 30px 30px -20px rgba(50, 50, 50, 0.2);
  -webkit-transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
}

.btns input:checked+.btn:after {
  margin-left: 12px;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  -webkit-transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.survey {
  margin-top: 125px;
  background: #fff;
  /* border-radius: 20px; */
  box-shadow: 0px 0 100px 0px #0000001a;
  text-align: center;
  margin-bottom: 100px;
  padding: 50px 0px 50px 0px;
}

.sForm {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.question {
  padding-left: 50px;
  padding-right: 50px;
}

.num {
  padding-right: 5px;
}

.qna {
  margin-bottom: 70px;
}

.q {
  font-size: 26px;
  font-weight: 400;
}

.info {
  padding: 10px;
}

.heading {
  color: #676767;
  font-size: 36px;
  font-weight: 500;
  display: inherit;
}

.blue {
  color: #6488FF;
}

.consent {
  color: #676767;
  font-size: 14px;
  padding: 10px 100px 50px 100px;
}

.agree {
  text-align: left;
}

.row {
  display: block;
}

.hidden {
  display: none;
}

#thank-you {
  font-size: 36px;
  font-weight: 500;
  color: #6488ff;
}

.text-field {
  width: 55%;
  padding: 12px;
  display: block;
  margin: auto;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #6488ff;
  box-shadow: 0 2px 1px -1px #6488ff;
}

.valMsg {
  width: 55%;
  padding: 12px;
  display: block;
  margin: auto;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  background: #ff5454;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.nxt-btn {
  margin-top: 20px;
  padding: 10px 40px 10px 40px;
  background: #6488ff;
  color: #fff;
  transition: all 100ms ease-in-out;
}

.nxt-btn:hover {
  padding: 10px 60px 10px 60px;
  color: #fff;
}

textarea:focus, input:focus {
  outline: none;
}

@media only screen and (max-width: 560px) {
  #progressBar {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .row {
    display: block;
  }
  .bii {
    display: none;
  }
  .logo {
    text-align: center;
    width: 100%;
  }
  .btns {
    /* background-image: linear-gradient(180deg, #8632f7 0%, #5754ff 30%, #8e60ff 70%, #9a9dff 100%); */
    height: 400px;
    max-width: 70%;
    box-shadow: 0 2px 4px -1px rgba(25, 25, 25, 0.2);
  }
  .btns label {
    display: block;
    padding: 20px;
    width: 100%;
    text-align: center;
    height: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .btns .btn {
    display: block;
  }
  .btns input:checked+.btn {
    background: none;
    box-shadow: none;
  }
  .consent {
    padding: 10px;
  }
  .question {
    padding: 10px;
  }
  .survey {
    margin-top: 25px;
    box-shadow: none;
    border-radius: 0px;
  }
}

.enter-from-right {
  animation-name: enter-from-right;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.leave-to-left {
  animation: leave-to-left;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.enter-from-left {
  animation-name: enter-from-left;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.leave-to-right {
  animation: leave-to-right;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes enter-from-right {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leave-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-10vw);
  }
}

@keyframes enter-from-left {
  0% {
    opacity: 0;
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leave-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10vw);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

